MONGO_URI=mongodb://localhost:27017/smart_adoption
MONGO_DB_NAME=smart_adoption

OPENAI_API_KEY=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=

IMAP_HOST=imap.gmail.com
IMAP_PORT=993
IMAP_USERNAME=
IMAP_PASSWORD=

SECRET_KEY=smart_child_adoption_secret_key_2026
